---
import Layout from "../../layouts/Layout.astro";
import { AuthForm } from "../../components/auth/AuthForm";
---

<Layout title="Rejestracja">
  <div class="min-h-screen flex items-center justify-center bg-background p-4">
    <div class="w-full max-w-md">
      <AuthForm mode="signup" client:load />
    </div>
  </div>
</Layout>

